
<div class="elementor-element elementor-element-c4579fb elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="c4579fb" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h3 class="elementor-heading-title elementor-size-default">1 Step
<span style="background: linear-gradient(135deg, #E43177 20%, #6867E7 60%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
Ultimate
</span>
Trader Account</h3>		</div>
</div>
<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-35bc50c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="35bc50c" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
    <div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ec892c3 myPricing" data-id="ec892c3" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
<div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-f7e0a0f myRibbon elementor-widget elementor-widget-heading" data-id="f7e0a0f" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<span class="elementor-heading-title elementor-size-default">Add Your Heading Text Here</span>		</div>
</div>
<div class="elementor-element elementor-element-c9ba922 elementor-widget elementor-widget-heading" data-id="c9ba922" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h3 class="elementor-heading-title elementor-size-default">$50,000 <br>Account</h3>		</div>
</div>
<div class="elementor-element elementor-element-b0410b2 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="b0410b2" data-element_type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<style>/*! elementor - v3.20.0 - 17-01-2024 */
.elementor-widget-divider{--divider-border-style:none;--divider-border-width:1px;--divider-color:#0c0d0e;--divider-icon-size:20px;--divider-element-spacing:10px;--divider-pattern-height:24px;--divider-pattern-size:20px;--divider-pattern-url:none;--divider-pattern-repeat:repeat-x}.elementor-widget-divider .elementor-divider{display:flex}.elementor-widget-divider .elementor-divider__text{font-size:15px;line-height:1;max-width:95%}.elementor-widget-divider .elementor-divider__element{margin:0 var(--divider-element-spacing);flex-shrink:0}.elementor-widget-divider .elementor-icon{font-size:var(--divider-icon-size)}.elementor-widget-divider .elementor-divider-separator{display:flex;margin:0;direction:ltr}.elementor-widget-divider--view-line_icon .elementor-divider-separator,.elementor-widget-divider--view-line_text .elementor-divider-separator{align-items:center}.elementor-widget-divider--view-line_icon .elementor-divider-separator:after,.elementor-widget-divider--view-line_icon .elementor-divider-separator:before,.elementor-widget-divider--view-line_text .elementor-divider-separator:after,.elementor-widget-divider--view-line_text .elementor-divider-separator:before{display:block;content:"";border-block-end:0;flex-grow:1;border-block-start:var(--divider-border-width) var(--divider-border-style) var(--divider-color)}.elementor-widget-divider--element-align-left .elementor-divider .elementor-divider-separator>.elementor-divider__svg:first-of-type{flex-grow:0;flex-shrink:100}.elementor-widget-divider--element-align-left .elementor-divider-separator:before{content:none}.elementor-widget-divider--element-align-left .elementor-divider__element{margin-left:0}.elementor-widget-divider--element-align-right .elementor-divider .elementor-divider-separator>.elementor-divider__svg:last-of-type{flex-grow:0;flex-shrink:100}.elementor-widget-divider--element-align-right .elementor-divider-separator:after{content:none}.elementor-widget-divider--element-align-right .elementor-divider__element{margin-right:0}.elementor-widget-divider--element-align-start .elementor-divider .elementor-divider-separator>.elementor-divider__svg:first-of-type{flex-grow:0;flex-shrink:100}.elementor-widget-divider--element-align-start .elementor-divider-separator:before{content:none}.elementor-widget-divider--element-align-start .elementor-divider__element{margin-inline-start:0}.elementor-widget-divider--element-align-end .elementor-divider .elementor-divider-separator>.elementor-divider__svg:last-of-type{flex-grow:0;flex-shrink:100}.elementor-widget-divider--element-align-end .elementor-divider-separator:after{content:none}.elementor-widget-divider--element-align-end .elementor-divider__element{margin-inline-end:0}.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator{border-block-start:var(--divider-border-width) var(--divider-border-style) var(--divider-color)}.elementor-widget-divider--separator-type-pattern{--divider-border-style:none}.elementor-widget-divider--separator-type-pattern.elementor-widget-divider--view-line .elementor-divider-separator,.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:after,.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:before,.elementor-widget-divider--separator-type-pattern:not([class*=elementor-widget-divider--view]) .elementor-divider-separator{width:100%;min-height:var(--divider-pattern-height);-webkit-mask-size:var(--divider-pattern-size) 100%;mask-size:var(--divider-pattern-size) 100%;-webkit-mask-repeat:var(--divider-pattern-repeat);mask-repeat:var(--divider-pattern-repeat);background-color:var(--divider-color);-webkit-mask-image:var(--divider-pattern-url);mask-image:var(--divider-pattern-url)}.elementor-widget-divider--no-spacing{--divider-pattern-size:auto}.elementor-widget-divider--bg-round{--divider-pattern-repeat:round}.rtl .elementor-widget-divider .elementor-divider__text{direction:rtl}.e-con-inner>.elementor-widget-divider,.e-con>.elementor-widget-divider{width:var(--container-widget-width,100%);--flex-grow:var(--container-widget-flex-grow)}</style>		<div class="elementor-divider">
<span class="elementor-divider-separator">
        </span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-97a917d elementor-tablet-align-center elementor-mobile-align-left elementor-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="97a917d" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
<link rel="stylesheet" href="https://quantectrading.com/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">		<ul class="elementor-icon-list-items">
            <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">1 Step Challenge</span>
                    </li>
                <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">High Impact News: Allowed</span>
                    </li>
                <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">Weekend Holding: Allowed</span>
                    </li>
                <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">HFT enabled</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Daily Drawdown: 6%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Total Drawdown: 12%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Profit Target: 10%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Trading Days: Unlimited</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Min Trading Days: Zero</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Scaling Profit Split up to 80%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Account Leverage: 1:30</span>
                    </li>
        </ul>
</div>
</div>
<div class="elementor-element elementor-element-f24631a elementor-widget elementor-widget-text-editor" data-id="f24631a" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <h3 style="text-align: center;">$488</h3>						</div>
</div>
<div class="elementor-element elementor-element-f844f13 elementor-widget elementor-widget-text-editor" data-id="f844f13" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <p style="text-align: center;">Per Attempt</p>						</div>
</div>
<div class="elementor-element elementor-element-a4a26b5 elementor-align-justify trader-stats-btn elementor-widget elementor-widget-button" data-id="a4a26b5" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
    <div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="https://trading.quantectrading.com/checkout?add-to-cart=34815">
        <span class="elementor-button-content-wrapper">
        <span class="elementor-button-text">Get funded</span>
</span>
    </a>
</div>
</div>
</div>
    </div>
</div>
<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-c144fd3 myPricing" data-id="c144fd3" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
<div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-b25a373 myRibbon elementor-widget elementor-widget-heading" data-id="b25a373" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<span class="elementor-heading-title elementor-size-default">Add Your Heading Text Here</span>		</div>
</div>
<div class="elementor-element elementor-element-14f658d elementor-widget elementor-widget-heading" data-id="14f658d" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h3 class="elementor-heading-title elementor-size-default">$100,000 <br>Account</h3>		</div>
</div>
<div class="elementor-element elementor-element-0b921b4 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="0b921b4" data-element_type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
    <div class="elementor-divider">
<span class="elementor-divider-separator">
        </span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-51acca9 elementor-tablet-align-center elementor-mobile-align-left elementor-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="51acca9" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
    <ul class="elementor-icon-list-items">
            <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">1 Step Challenge</span>
                    </li>
                <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">High Impact News: Allowed</span>
                    </li>
                <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">Weekend Holding: Allowed</span>
                    </li>
                <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">HFT enabled</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Daily Drawdown: 6%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Total Drawdown: 12%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Profit Target: 10%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Trading Days: Unlimited</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Min Trading Days: Zero</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Scaling Profit Split up to 80%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Account Leverage: 1:30</span>
                    </li>
        </ul>
</div>
</div>
<div class="elementor-element elementor-element-e2429b2 elementor-widget elementor-widget-text-editor" data-id="e2429b2" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <h3 style="text-align: center;">$888</h3>						</div>
</div>
<div class="elementor-element elementor-element-b134e86 elementor-widget elementor-widget-text-editor" data-id="b134e86" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <p style="text-align: center;">Per Attempt</p>						</div>
</div>
<div class="elementor-element elementor-element-9c06b79 elementor-align-justify trader-stats-btn elementor-widget elementor-widget-button" data-id="9c06b79" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
    <div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="https://trading.quantectrading.com/checkout?add-to-cart=34816">
        <span class="elementor-button-content-wrapper">
        <span class="elementor-button-text">Get funded</span>
</span>
    </a>
</div>
</div>
</div>
    </div>
</div>
<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-6d292c8 myPricing" data-id="6d292c8" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
<div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-0ac37bd myRibbon elementor-widget elementor-widget-heading" data-id="0ac37bd" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<span class="elementor-heading-title elementor-size-default">Add Your Heading Text Here</span>		</div>
</div>
<div class="elementor-element elementor-element-febf6a1 elementor-widget elementor-widget-heading" data-id="febf6a1" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h3 class="elementor-heading-title elementor-size-default">$200,000 <br>Account</h3>		</div>
</div>
<div class="elementor-element elementor-element-d262948 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="d262948" data-element_type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
    <div class="elementor-divider">
<span class="elementor-divider-separator">
        </span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-e1a0d99 elementor-tablet-align-center elementor-mobile-align-left elementor-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="e1a0d99" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
    <ul class="elementor-icon-list-items">
            <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">1 Step Challenge</span>
                    </li>
                <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">High Impact News: Allowed</span>
                    </li>
                <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">Weekend Holding: Allowed</span>
                    </li>
                <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">HFT enabled</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Daily Drawdown: 6%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Total Drawdown: 12%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Profit Target: 10%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Trading Days: Unlimited</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Min Trading Days: Zero</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Scaling Profit Split up to 80%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Account Leverage: 1:30</span>
                    </li>
        </ul>
</div>
</div>
<div class="elementor-element elementor-element-9a61155 elementor-widget elementor-widget-text-editor" data-id="9a61155" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <h3 style="text-align: center;">$1,748</h3>						</div>
</div>
<div class="elementor-element elementor-element-353b609 elementor-widget elementor-widget-text-editor" data-id="353b609" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <p style="text-align: center;">Per Attempt</p>						</div>
</div>
<div class="elementor-element elementor-element-4ce5c5c elementor-align-justify trader-stats-btn elementor-widget elementor-widget-button" data-id="4ce5c5c" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
    <div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="https://trading.quantectrading.com/checkout?add-to-cart=34817">
        <span class="elementor-button-content-wrapper">
        <span class="elementor-button-text">Get funded</span>
</span>
    </a>
</div>
</div>
</div>
    </div>
</div>
    </div>
</section>
<div class="elementor-element elementor-element-34e27e9 elementor-hidden-mobile elementor-widget elementor-widget-html" data-id="34e27e9" data-element_type="widget" data-widget_type="html.default">
<div class="elementor-widget-container">
<style>
/*Ribbon Shape CSS*/
.myPricing{
--text: 'NEW';
--first-color: #6867E7;
--second-color: #4a98bf;

position: relative;
}
.myPricing .myRibbon{
position: absolute;
top: -10px;
left: 270px;
width: 150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}
.myPricing .myRibbon::before{
content: var(--text);
position: absolute;
width: 150%;
height: 40px;
background: var(--first-color);
transform: rotate(45deg) translateY(-20px);
display: flex;
justify-content: center;
align-items: center;
font-size: 18px;
font-weight: 600;
color: #fff;
letter-spacing: 0.1em;
box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.myPricing .myRibbon::after{
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 0px;
height: 0px;
background: var(--second-color);
z-index: -1;
box-shadow: 140px -140px var(--second-color);
}
</pre>
</style>		</div>
</div>
<div class="elementor-element elementor-element-0d72dce elementor-widget elementor-widget-heading" data-id="0d72dce" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">1 Step
<span style="background: linear-gradient(135deg, #14e665 20%, #165bdd 60%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">
Standard
</span>
Trader Account</h2>		</div>
</div>
<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-9a2cb74 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9a2cb74" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
    <div class="has_eae_slider elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-52e1ad8 myPricing" data-id="52e1ad8" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
<div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-a6b220d elementor-widget elementor-widget-heading" data-id="a6b220d" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h3 class="elementor-heading-title elementor-size-default">$25,000 <br>Account
</h3>		</div>
</div>
<div class="elementor-element elementor-element-4e63f57 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="4e63f57" data-element_type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
    <div class="elementor-divider">
<span class="elementor-divider-separator">
        </span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-0c0d77c elementor-tablet-align-center elementor-mobile-align-left elementor-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="0c0d77c" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
    <ul class="elementor-icon-list-items">
            <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">1 Step Challenge</span>
                    </li>
                <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">HFT enabled</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Min Trading Days: Zero</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Trading Days: Unlimited</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Daily Drawdown: 5%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Total Drawdown: 10%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Profit Target: 10%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Scaling Profit Split up to 80%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Account leverage: 1:100</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• High Impact News: Not Allowed</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Weekend Holding: Not Allowed</span>
                    </li>
        </ul>
</div>
</div>
<div class="elementor-element elementor-element-d7ba7b2 elementor-widget elementor-widget-text-editor" data-id="d7ba7b2" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <h3 style="text-align: center;">$125</h3>						</div>
</div>
<div class="elementor-element elementor-element-3acca3c elementor-widget elementor-widget-text-editor" data-id="3acca3c" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <p style="text-align: center;">Per Attempt</p>						</div>
</div>
<div class="elementor-element elementor-element-5e0f376 elementor-align-justify trader-stats-btn elementor-widget elementor-widget-button" data-id="5e0f376" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
    <div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="https://trading.quantectrading.com/checkout/?add-to-cart=34809">
        <span class="elementor-button-content-wrapper">
        <span class="elementor-button-text">Get funded</span>
</span>
    </a>
</div>
</div>
</div>
    </div>
</div>
<div class="has_eae_slider elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-cb7caf5" data-id="cb7caf5" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
<div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-35027b4 elementor-widget elementor-widget-heading" data-id="35027b4" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h3 class="elementor-heading-title elementor-size-default">$50,000 <br>Account</h3>		</div>
</div>
<div class="elementor-element elementor-element-52048f5 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="52048f5" data-element_type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
    <div class="elementor-divider">
<span class="elementor-divider-separator">
        </span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-685eb81 elementor-tablet-align-center elementor-mobile-align-left elementor-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="685eb81" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
    <ul class="elementor-icon-list-items">
            <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">1 Step Challenge</span>
                    </li>
                <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">HFT enabled</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Min Trading Days: Zero</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Trading Days: Unlimited</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Daily Drawdown: 5%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Total Drawdown: 10%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Profit Target: 10%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Scaling Profit Split up to 80%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Account leverage: 1:100</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• High Impact News: Not Allowed</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Weekend Holding: Not Allowed</span>
                    </li>
        </ul>
</div>
</div>
<div class="elementor-element elementor-element-59cabac elementor-widget elementor-widget-text-editor" data-id="59cabac" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <h3 style="text-align: center;">$249</h3>						</div>
</div>
<div class="elementor-element elementor-element-b14e630 elementor-widget elementor-widget-text-editor" data-id="b14e630" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <p style="text-align: center;">Per Attempt</p>						</div>
</div>
<div class="elementor-element elementor-element-c7daa25 elementor-align-justify trader-stats-btn elementor-widget elementor-widget-button" data-id="c7daa25" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
    <div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="https://trading.quantectrading.com/checkout/?add-to-cart=34810">
        <span class="elementor-button-content-wrapper">
        <span class="elementor-button-text">Get funded</span>
</span>
    </a>
</div>
</div>
</div>
    </div>
</div>
<div class="has_eae_slider elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-a86f51b myPricing" data-id="a86f51b" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
<div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-3c4d0ea elementor-widget elementor-widget-heading" data-id="3c4d0ea" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h3 class="elementor-heading-title elementor-size-default">$100,000 <br>Account</h3>		</div>
</div>
<div class="elementor-element elementor-element-e92954f elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="e92954f" data-element_type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
    <div class="elementor-divider">
<span class="elementor-divider-separator">
        </span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-e39fa46 elementor-tablet-align-center elementor-mobile-align-left elementor-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="e39fa46" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
    <ul class="elementor-icon-list-items">
            <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">1 Step Challenge</span>
                    </li>
                <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">HFT enabled</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Min Trading Days: Zero</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Trading Days: Unlimited</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Daily Drawdown: 5%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Total Drawdown: 10%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Profit Target: 10%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Scaling Profit Split up to 80%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Account leverage: 1:100</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• High Impact News: Not Allowed</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Weekend Holding: Not Allowed</span>
                    </li>
        </ul>
</div>
</div>
<div class="elementor-element elementor-element-9ae5292 elementor-widget elementor-widget-text-editor" data-id="9ae5292" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <h3 style="text-align: center;">$499</h3>						</div>
</div>
<div class="elementor-element elementor-element-e042e93 elementor-widget elementor-widget-text-editor" data-id="e042e93" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <p style="text-align: center;">Per Attempt</p>						</div>
</div>
<div class="elementor-element elementor-element-6a30fa2 elementor-align-justify trader-stats-btn elementor-widget elementor-widget-button" data-id="6a30fa2" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
    <div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="https://trading.quantectrading.com/checkout/?add-to-cart=34811">
        <span class="elementor-button-content-wrapper">
        <span class="elementor-button-text">Get funded</span>
</span>
    </a>
</div>
</div>
</div>
    </div>
</div>
<div class="has_eae_slider elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-f1441af" data-id="f1441af" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
<div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-7b56f1c elementor-widget elementor-widget-heading" data-id="7b56f1c" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h3 class="elementor-heading-title elementor-size-default">$200,000 <br>Account</h3>		</div>
</div>
<div class="elementor-element elementor-element-9858682 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="9858682" data-element_type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
    <div class="elementor-divider">
<span class="elementor-divider-separator">
        </span>
</div>
</div>
</div>
<div class="elementor-element elementor-element-bfe0eeb elementor-tablet-align-center elementor-mobile-align-left elementor-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="bfe0eeb" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
    <ul class="elementor-icon-list-items">
            <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">1 Step Challenge</span>
                    </li>
                <li class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="jki jki-tick-light"></i>						</span>
                        <span class="elementor-icon-list-text">HFT enabled</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Min Trading Days: Zero</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Trading Days: Unlimited</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Daily Drawdown: 5%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Max Total Drawdown: 10%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Profit Target: 10%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Scaling Profit Split up to 80%</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Account leverage: 1:100</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• High Impact News: Not Allowed</span>
                    </li>
                <li class="elementor-icon-list-item">
                        <span class="elementor-icon-list-text">• Weekend Holding: Not Allowed</span>
                    </li>
        </ul>
</div>
</div>
<div class="elementor-element elementor-element-d89153f elementor-widget elementor-widget-text-editor" data-id="d89153f" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <h3 style="text-align: center;">$999</h3>						</div>
</div>
<div class="elementor-element elementor-element-27d7168 elementor-widget elementor-widget-text-editor" data-id="27d7168" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
            <p style="text-align: center;">Per Attempt</p>						</div>
</div>
<div class="elementor-element elementor-element-2f2f33a elementor-align-justify trader-stats-btn elementor-widget elementor-widget-button" data-id="2f2f33a" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
    <div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="https://trading.quantectrading.com/checkout/?add-to-cart=34812">
        <span class="elementor-button-content-wrapper">
        <span class="elementor-button-text">Get funded</span>
</span>
    </a>
</div>
</div>
</div>
    </div>
</div>
    </div>
</section>
    </div>
</div>
    </div>